services:
  jekyll:
    image: jekyll/jekyll:latest
    command: bash -c "bundle install && bundle exec jekyll serve --watch --force_polling --host 0.0.0.0 --port 4000 --livereload"
    ports:
      - "4001:4000"
    volumes:
      - .:/srv/jekyll
    working_dir: /srv/jekyll
    environment:
      - JEKYLL_ENV=development
